In [16]:
#Task 1 Code:  
#Extract and organize AirPurple Data

#import pandas package
import pandas as pd

#load data
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')

#turn data into a dataframe
air_data = pd.DataFrame(air_data)

#checking data
#air_data.head(5)

In [15]:
#Task 2 Code: 
#Determine 5 locations in Nebraska with the highest mean and median concentrations of VOC, PM 2.5, Pm 10.0
#for pm2.5, pm10.0, and voc

#voc mean and median
stat_summary_voc = air_data.groupby(['sensor.name']).agg({'voc': ['mean', 'median']})

top_5_voc_mean = (stat_summary_voc.sort_values( by = ('voc', 'mean'), ascending = False)).head(5)
top_5_voc_mean

top_5_voc_median = (stat_summary_voc.sort_values( by = ('voc', 'median'), ascending = False)).head(5)
top_5_voc_median

                                              voc
                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
Swnphd-mccook                          353.941581  381.468479
Three Rivers Public Health Department  370.216208  376.810167
FCHD-YPS                               372.462720  375.383500
ELVPHD Norfolk HD 4                    360.833744  368.580500

In [14]:
#Task 2 Continued:
#pm 2.5 mean and median
stat_summary_pm25 = air_data.groupby(['sensor.name']).agg({'pm2.5_atm': ['mean', 'median']})

top_5_pm25_mean = (stat_summary_pm25.sort_values( by = ('pm2.5_atm', 'mean'), ascending = False)).head(5)
top_5_pm25_mean

top_5_pm25_median = (stat_summary_pm25.sort_values( by = ('pm2.5_atm', 'median'), ascending = False)).head(5)
top_5_pm25_median

                                                     pm2.5_atm
                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
ELVPHD Norfolk HD 4                                  13.369492   9.706229
ELVPHD Wisner HD 5                                   11.154420   8.464583

In [17]:
#Task 2 Continued:
#pm 10.0 mean and median
stat_summary_pm10 = air_data.groupby(['sensor.name']).agg({'pm10.0_atm': ['mean', 'median']})

top_5_pm10_mean = (stat_summary_pm10.sort_values( by = ('pm10.0_atm', 'mean'), ascending = False)).head(5)
top_5_pm10_mean

top_5_pm10_median = (stat_summary_pm10.sort_values( by = ('pm10.0_atm', 'median'), ascending = False)).head(5)
top_5_pm10_median

                                                    pm10.0_atm
                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
ELVPHD Norfolk HD 4                                  15.969341  11.474708
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
ELVPHD Wisner HD 5                                   14.462116  10.935958

In [92]:
#Task 3 Code:  
#Determine what days maximum values occurred and the location
#voc, date, location
max_voc = air_data.sort_values('voc', ascending=False).head(1)
max_voc[['date', 'sensor.name', 'voc']]

           date      sensor.name          voc
2391  6/24/2024  Swnphd-ogallala  1209.931571

In [40]:
#Task 3 Continued:
#pm 2.5, date, location
max_pm25 = air_data.sort_values('pm2.5_atm', ascending=False).head(1)
max_pm25[['date', 'sensor.name', 'pm2.5_atm']]

           date                         sensor.name    pm2.5_atm
7561  2/18/2025  #16 - Richardson County Courthouse  3782.823313

In [41]:
#Task 3 Continued:
#pm 10.0, date, location
max_pm10 = air_data.sort_values('pm10.0_atm', ascending=False).head(1)
max_pm10[['date', 'sensor.name', 'pm10.0_atm']]

           date                         sensor.name   pm10.0_atm
7561  2/18/2025  #16 - Richardson County Courthouse  3784.682542

In [77]:
#Task 4 Code:
#Determine the relation of air quality, humidity, and temperature

#create humidity categories
def assign_humidity(x):
    if x < 50:
        return 'Less than 50%'
    elif 50 <= x <= 80:
        return 'Between 50% and 80%'
    else:
        return 'Above 80%'

air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)
air_data[['sensor.name', 'humidity_level', 'voc', 'pm2.5_atm', 'pm10.0_atm']].head(15)

#high humidity
high_humidity = air_data[(air_data['humidity_level'] == 'Above 80%')].groupby('humidity')
high_voc_median = high_humidity.agg(median=('voc', 'median'))
high_vocs = high_voc_median.sort_values(by = 'median', ascending = False)
high_vocs.head(5)

               median
humidity
94.375000  626.660000
81.396333  281.224000
84.869500  112.766125
92.682750   70.504667
84.448583   39.347750

In [76]:
#Task 4 Code Continued:
#Middle humidity and voc
medium_humidity = air_data[(air_data['humidity_level'] == 'Between 50% and 80%')].groupby('humidity')
medium_voc_median = medium_humidity.agg(median=('voc', 'median'))
medium_vocs = medium_voc_median.sort_values(by = 'median', ascending = False)
medium_vocs.head(5)

               median
humidity
61.458208  856.012625
60.080542  803.341708
52.470750  799.274208
59.965542  793.404208
52.158333  785.053708

In [75]:
#Task 4 Code Continued:
#low humidity and voc
low_humidity = air_data[(air_data['humidity_level'] == 'Less than 50%')].groupby('humidity')
low_voc_median = low_humidity.agg(median=('voc', 'median'))
low_vocs = low_voc_median.sort_values(by = 'median', ascending = False)
low_vocs.head(5)

                median
humidity
9.883429   1209.931571
26.333000  1135.473000
16.784000   871.182000
33.421667   851.927667
42.909417   849.734917

In [74]:
#Task 4 Continued:

#create temperature catagories
def assign_temperature(x):
    if x < 32:
        return 'Below Freezing'
    elif 32 <= x <= 50:
        return 'Cool'
    elif 51 <= x <= 70:
        return 'Warm'
    else:
        return 'Hot'

#adding the column and checking that it worked
air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)
air_data[['sensor.name', 'temperature_level', 'temperature', 'voc', 'pm2.5_atm', 'pm10.0_atm']].head(15)

#below freezing
below_freezing = air_data[(air_data['temperature_level'] == 'Below Freezing')].groupby('temperature')
below_voc_median = below_freezing.agg(median=('voc', 'median'))
below_freezing_vocs = below_voc_median.sort_values(by = 'median', ascending = False)
below_freezing_vocs.head(5)

                 median
temperature
29.122208    617.495292
8.241583     544.734083
18.185750    530.361833
30.843375    512.616792
30.313792    509.315833

In [71]:
#Task 4 Continued:

#Cool
cool_data = air_data[(air_data['temperature_level'] == 'Cool')].groupby('temperature')
cool_voc_median = cool_data.agg(median=('voc', 'median'))
cool_vocs = cool_voc_median.sort_values(by = 'median', ascending = False)
cool_vocs.head(5)

                 median
temperature
41.935250    842.127417
43.636208    705.061458
42.666958    704.289333
47.645917    696.432833
46.411083    691.137958

In [72]:
#Task 4 Continued:

#Warm
warm_data = air_data[(air_data['temperature_level'] == 'Warm')].groupby('temperature')
warm_voc_median = warm_data.agg(median=('voc', 'median'))
warm_vocs = warm_voc_median.sort_values(by = 'median', ascending = False)
warm_vocs.head(5)

                  median
temperature
53.487000    1041.722000
54.708708     856.012625
59.774167     851.927667
63.864042     793.404208
51.548083     777.289875

In [73]:
#Task 4 Continued:

#Hot
hot_data = air_data[(air_data['temperature_level'] == 'Hot')].groupby('temperature')
hot_voc_median = hot_data.agg(median=('voc', 'median'))
hot_vocs = hot_voc_median.sort_values(by = 'median', ascending = False)
hot_vocs.head(5)

                  median
temperature
116.455286   1209.931571
80.292000    1135.473000
77.483000     884.649000
72.183000     871.182000
82.585792     849.734917

In [95]:
#Task 5 Code: 
#Review data for any Air Quality Index health risks for PM 2.5 and PM 10.0

#PM 2.5
#Unhealthy for sensitive groups is 35.5-55.4 for PM 2.5 and 155-254 for PM 10.0


#defining a function to make unhealthy for sensitive groups a category
def assign_AQI(x):
    if x < 35.4:
        return "Moderate to Good Quality"
    elif 35.5 < x < 55.4:
        return "Unhealthy for Sensitive Groups"
    else:
        return "Unhealthy to Extremely Unhealthy"
    
#adding the column and checking that it worked again
air_data['pm2.5_level'] = air_data['pm2.5_atm'].apply(assign_AQI)
air_data[['sensor.name', 'pm2.5_level', 'pm2.5_atm']].head(15)

#PM 2.5 Unhealthy for Sensitive Groups Events
unhealthy_pm25_data = air_data[(air_data['pm2.5_level'] == 'Unhealthy for Sensitive Groups')].groupby('date')
unhealthy_pm25_values = unhealthy_pm25_data.agg(pm25 =('pm2.5_atm', 'median'))
unhealthy_pm25_values

                 pm25
date
1/9/2025    39.975313
12/24/2024  40.301208
12/25/2024  37.428542
2/15/2025   38.443427
2/6/2025    39.639000
3/19/2025   47.437771
3/2/2025    35.738500
3/29/2024   39.093646
4/6/2024    38.494490
5/14/2024   44.447875
5/15/2024   37.584990
7/10/2024   38.047375
7/22/2024   37.494042
7/23/2024   40.882646
7/24/2024   38.749771
7/25/2024   43.696917
7/26/2024   39.266344
7/27/2024   35.529521
7/9/2024    37.578792
8/20/2024   39.075167
8/21/2024   36.999208
9/30/2024   45.125437
9/5/2024    41.234333
9/6/2024    36.178104

In [96]:
#Task 5 Code Continued:
#defining a function for PM 10.0
def assign_AQI_pm10(x):
    if x < 154:
        return "Moderate to Good Quality"
    elif 155 < x < 254:
        return "Unhealthy for Sensitive Groups"
    else:
        return "Unhealthy to Extremely Unhealthy"
    
#adding the column and checking that it worked again
air_data['pm10.0_level'] = air_data['pm10.0_atm'].apply(assign_AQI_pm10)
air_data[['sensor.name', 'pm10.0_level', 'pm10.0_atm']]

#PM 10.0 Unhealthy for Sensitive Groups Events
unhealthy_pm10_data = air_data[(air_data['pm10.0_level'] == 'Unhealthy for Sensitive Groups')].groupby('date')
unhealthy_pm10_values = unhealthy_pm10_data.agg(pm10=('pm10.0_atm', 'median'))
unhealthy_pm10_values

                 pm10
date
12/8/2024  200.798396
6/14/2024  231.757021
6/27/2024  188.977500